body {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(235, 53, 53);
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.logo {
    text-align: left;
    margin: 20px;
}

.logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 53, 53);
    padding: 3px;
    margin: 1px;
    border-radius: 10px;
}


footer {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}



.login-container {
    margin: 20px;
    text-align: center;
}

.login-form {
    width: 300px;
    margin: 0 auto;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #2980b9;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #1f618d;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #2980b9;
    text-decoration: none;
}

.register-link {
    display: block;
    margin-top: 10px;
    color: #2980b9;
    text-decoration: none;
}